@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h3>@ViewBag.Title</h3>
</hgroup>

<section class="contact">
    <p>
        <span class="label">Name:</span>
        <span>Rajeswari Gundu</span>
    </p>
    <p>
        <span class="label">Mail:</span>
        <span>z1784316@students.niu.edu</span>
    </p>
</section>